language: java

install:
  - mvn -s ./settings-jboss.xml clean install -pl shared
  - mvn -s ./settings-jboss.xml clean install -pl shared/rpc
  - mvn -s ./settings-jboss.xml clean install -pl server/integration
  - mvn -s ./settings-jboss.xml clean install -pl server/war
  
script:
  - mvn -s ./settings-jboss.xml clean install  -Dconsole.profile=fitsaw